.c-pass{
    margin-left: 600px;
}
.top{
    font: bold;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color:brown;
    text-align: center;
}
label{
    font: bold;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color:brown;
}
.save{
    width:15%;
    height:40px;
    background-color: pink;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.save:hover{
    background-color: red;
}